$base-color: #0080FF;

$background: darken(desaturate($base-color, 80), 10);

$app-background-color: #fff;
$app-background: $app-background-color;
$app-width: 960px;

$headline-font: "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;

$text-font: "Droid Serif", $headline-font;
$text-color: #3B3B3B;
$line-height: 26px;
$text-size: 15px;

$link-color: $base-color;
$link-hover-color: darken($link-color, 20);
$button-base-color: $link-color;

$grid-columns: 18 !default;
$grid-column-width: 30px !default;
$grid-margin: 20px !default;

$default-border-radius: 1em;