[submodule "lib/ephFrame"]
	path = lib/ephFrame
	url = git@github.com:Ephigenia/ephFrame.git
[submodule "lib/plugin/markdown/php-markdown"]
	path = lib/plugin/markdown/php-markdown
	url = http://git.michelf.com/php-markdown