[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/php-markdown"]
	path = vendor/php-markdown
	url = http://git.michelf.com/php-markdown
[submodule "vendor/DoctrineExtensions"]
	path = vendor/DoctrineExtensions
	url = https://github.com/beberlei/DoctrineExtensions.git
