[submodule "vendor/doctrine"]
	path = vendor/doctrine
	url = git://github.com/doctrine/doctrine2.git
[submodule "vendor/redbean"]
	path = vendor/redbean
	url = git://github.com/gabordemooij/redbean.git
