# this .htaccess file will silently redirect users to the html folder
# where additional rewrite actions happen
# ----------------------------------------------------------------------------

# 1und1 PHP5 Handling for php files
# AddType x-mapp-php5 .php
# AddHandler x-mapp-php5 .php

RewriteEngine On
	
# Sometimes you need to set rewrite base to current directory or root
# RewriteBase /
	
# ephFrame rewrite rules
RewriteRule ^$		html/	[L]
RewriteRule (.*)	html/$1	[E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]