# this .htaccess file will silently redirect users to the html folder
# where additional rewrite actions happen
# ----------------------------------------------------------------------------

# Add PHP5 Handlers (only on some hosts)
# --------------------------------------
# AddType x-mapp-php5 .php
# AddHandler x-mapp-php5 .php

# Password authentification for testing
# -------------------------------------
# AuthUserFile /absolute/path/to/file/.htpasswd
# AuthType Basic
# AuthName Secure
# require valid-user

# framework redirects to /html/index.php
# --------------------------------------
RewriteEngine On
# RewriteBase /
RewriteRule ^$		html/	[L]
RewriteRule (.*)	html/$1	[E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]