/**
 * Different CSS3 specific mixins
 * @author Marcel Eichner // Ephigenia <love@ephigenia.de>
 */

@mixin border-top-left-radius($radius: 10px) {
	border-top-left-radius: $radius;
	-moz-border-radius-topleft: $radius;
	-webkit-border-top-left-radius: $radius;
}
@mixin border-top-right-radius($radius: 10px) {
	border-top-right-radius: $radius;
	-moz-border-radius-topright: $radius;
	-webkit-border-top-right-radius: $radius;
}
@mixin border-bottom-left-radius($radius: 10px) {
	border-bottom-left-radius: $radius;
	-moz-border-radius-bottomleft: $radius;
	-webkit-border-bottom-left-radius: $radius;
}
@mixin border-bottom-right-radius($radius: 10px) {
	border-bottom-right-radius: $radius;
	-moz-border-radius-bottomright: $radius;
	-webkit-border-bottom-right-radius: $radius;
}
@mixin border-top-radius($radius: 10px) {
	@include border-top-left-radius($radius);
	@include border-top-right-radius($radius);
}
@mixin border-bottom-radius($radius: 10px) {
	@include border-bottom-left-radius($radius);
	@include border-bottom-right-radius($radius);
}
@mixin border-left-radius($radius: 10px) {
	@include roundedLeftTop($radius);
	@include roundedLeftBottom($radius);
}
@mixin border-right-radius($radius: 10px) {
	@include roundedRightTop($radius);
	@include roundedRightBottom($radius);
}
@mixin border-radius($radius: 10px) {
	@include border-top-radius($radius);
	@include border-bottom-radius($radius);
}

@mixin linear-gradient(
		$color1,
		$color2: darken($color1, 15),
		$stop1: 1,
		$stop2: -1,
		$orientation: "horizontal",
		$image: false
	) {
	@if $stop2 == -1 {
		$stop2: $stop1;
		$stop1: 0;
	}
	@if $image {
		$image: $image + ", ";
	} @else {
		$image: unquote("");
	}
	@if $orientation == "horizontal" {
		background-color: $color1;
		background-image: $image -webkit-gradient(
		    linear,
		    left top,
		    left bottom,
		    color-stop($stop1, $color1),
		    color-stop($stop2, $color2)
		);
		background-image: $image -moz-linear-gradient(
		    center top,
			$color1 $stop1 * 100%,
			$color2 $stop2 * 100%
		);
	} @else {
		background-color: $color1;
		background-image: $image -webkit-gradient(
		    linear,
		    left top,
		    right bottom,
		    color-stop($stop1, $color1),
		    color-stop($stop2, $color2)
		);
		background-color: $image -moz-linear-gradient(
		    center left,
			$color1 $stop1 * 100%,
			$color2 $stop2 * 100%
		);
	}
}

@mixin box-shadow(
		$color: #000,
		$x: 1px,
		$y: 1px,
		$blur: 5px,
		$spread: $blur / 5,
		$inset: false
	) {
	$full: $x $y $blur $spread $color;
	@if $inset {
		$full: $full inset;
	}
	-moz-box-shadow: $full;
	-webkit-box-shadow: $full;
	box-shadow: $x $y $full;
}