// CSS3 & HTML5 Transitions
// @author Marcel Eichner // Ephigenia <love@ephigenia.de>
@mixin transition($property: 'all', $duration: 0.5s, $timingFunction: "linear") {
	-moz-transition: $property $duration $timingFunction;;
	-webkit-transition: $property $duration $timingFunction;
	-o-transition: $property $duration $timingFunction;
}

@mixin rotate($degrees: 90deg) {
	-webkit-transform: rotate($degrees);
	-moz-transform: rotate($degrees);
	-o-transform: rotate($degrees);
}

@mixin scale($factor: 2.0) {
	-webkit-transform: scale($factor);
	-moz-transform: scale($factor);
	-o-transform: scale($factor);
}
