/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 1, ../sass/partial/_blogpost.scss */
article {
  display: block;
  margin: 0em 0em 2em 0em;
}
/* line 4, ../sass/partial/_blogpost.scss */
article > section {
  display: block;
  padding: 0.1em 0.3em;
  background-color: rgba(200, 200, 200, 0.1);
}
/* line 9, ../sass/partial/_blogpost.scss */
article iframe {
  width: 580px;
  float: left;
  margin-right: 20px;
  margin-right: 0;
  height: 275px;
}
/* line 14, ../sass/partial/_blogpost.scss */
article > footer {
  display: block;
  border-top: 1px solid #C1C2C1;
}
/* line 17, ../sass/partial/_blogpost.scss */
article > footer .tags li {
  font-size: 75%;
  display: inline;
}

/* line 1, ../sass/partial/_comment.scss */
#Comments {
  margin-top: 2em;
}
/* line 5, ../sass/partial/_comment.scss */
#Comments > header {
  margin-bottom: 1em;
}
/* line 9, ../sass/partial/_comment.scss */
#Comments article header {
  font-weight: bold;
  border-bottom: 1px solid #cccccc;
}
/* line 13, ../sass/partial/_comment.scss */
#Comments article:last-child {
  border-bottom: none;
}
/* line 16, ../sass/partial/_comment.scss */
#Comments article img.gravatar {
  width: 16px;
  height: 16px;
}

/* line 5, ../sass/partial/_form.scss */
form > fieldset > div {
  margin: 0em 0em 0.5em 0em;
}
/* line 7, ../sass/partial/_form.scss */
form > fieldset > div > label {
  display: block;
}
/* line 9, ../sass/partial/_form.scss */
form > fieldset > div > label:after {
  content: ':';
}
/* line 13, ../sass/partial/_form.scss */
form > fieldset > div > p.hint {
  margin-top: 0.25em;
  color: #b3b3b3;
  font-size: 0.75em;
  line-height: 1.25em;
}
/* line 21, ../sass/partial/_form.scss */
form > fieldset input, form > fieldset select, form > fieldset textarea {
  background-color: #f7f7f7;
  padding: 0.25em 0.25em;
  font-size: 1em;
  width: 98%;
  border-style: solid;
  border-width: 1px;
  border-left-color: #ababab;
  border-top-color: #ababab;
  border-right-color: #c4c4c4;
  border-bottom-color: #c4c4c4;
  -moz-border-radius: 0.125em;
  -webkit-border-radius: 0.125em;
  -o-border-radius: 0.125em;
  -ms-border-radius: 0.125em;
  -khtml-border-radius: 0.125em;
  border-radius: 0.125em;
  -moz-box-shadow: inset 0px 1px 2px 2px #dedede;
  -webkit-box-shadow: inset 0px 1px 2px 2px #dedede;
  -o-box-shadow: inset 0px 1px 2px 2px #dedede;
  box-shadow: inset 0px 1px 2px 2px #dedede;
}
/* line 35, ../sass/partial/_form.scss */
form > fieldset input:hover, form > fieldset select:hover, form > fieldset textarea:hover {
  border-left-color: #919191;
  border-top-color: #919191;
  border-right-color: #ababab;
  border-bottom-color: #ababab;
  background-color: white;
}
/* line 44, ../sass/partial/_form.scss */
form > fieldset > input[type="button"], form > fieldset input[type="submit"] {
  width: auto;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0.45em 1em;
  margin: 0.25em;
  min-width: 3em;
  border-top: 1px solid #0073e6;
  border-left: 1px solid #006cd6;
  border-right: 1px solid #005ab3;
  border-bottom: 1px solid #004d99;
  text-shadow: 0px 1px 1px #004d99;
  text-decoration: none;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  /*	@include linear-gradient($bgColor, darken($bgColor, 15), 0.4, 0.6, 'horizontal');
  	@include box-shadow(lighten($bgColor, 12), 0px, 0px, 1px, 0.1em, true);*/
}
/* line 26, ../sass/mixins/_button.scss */
form > fieldset > input[type="button"]:hover, form > fieldset input[type="submit"]:hover {
  color: white;
  /*		@include linear-gradient(lighten($backgroundColor, 5), darken($backgroundColor, 10), 0.4, 0.6);*/
}
/* line 30, ../sass/mixins/_button.scss */
form > fieldset > input[type="button"]:active, form > fieldset input[type="submit"]:active {
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.3), 0px 1px 0px rgba(0, 0, 0, 0.3);
}

/* line 3, ../sass/partial/_pagination.scss */
ul.pagination {
  padding: 1em 0em;
}
/* line 5, ../sass/partial/_pagination.scss */
ul.pagination li {
  display: inline-block;
  vertical-align: middle;
}
/* line 8, ../sass/partial/_pagination.scss */
ul.pagination li.selected a {
  font-weight: bold;
  color: #cce6ff;
  background: #0080ff;
}
/* line 13, ../sass/partial/_pagination.scss */
ul.pagination li a {
  padding: 0.2em 0.4em;
  text-decoration: none;
  margin: 10px 1px 0px 0px;
  background: #cce6ff;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 14, ../sass/partial/_application.scss */
body {
  font: normal normal normal 14px/1.75em "Droid Serif", "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #333333;
  background: #52667a;
}

/* line 20, ../sass/partial/_application.scss */
a {
  color: #0080ff;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #0066cc;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #004d99;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #004d99;
}
/* line 22, ../sass/partial/_application.scss */
a.more {
  font-weight: bold;
}
/* line 24, ../sass/partial/_application.scss */
a.more:after {
  content: ' »';
}
/* line 28, ../sass/partial/_application.scss */
a[rel="tag"] {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.25em 0.5em;
  color: #0080ff;
  background: #99ccff;
}
/* line 34, ../sass/partial/_application.scss */
a[rel="tag"]:hover {
  color: #0080ff;
  background: #004d99;
}

/* line 41, ../sass/partial/_application.scss */
.selected a, a.selected {
  background: #004d99;
  color: #0080ff;
}

/* line 46, ../sass/partial/_application.scss */
#app {
  display: table;
  width: 900px;
  margin: 0 auto;
  clear: both;
  -moz-box-shadow: #47596b 0px 0px 10px 5px;
  -webkit-box-shadow: #47596b 0px 0px 10px 5px;
  -o-box-shadow: #47596b 0px 0px 10px 5px;
  box-shadow: #47596b 0px 0px 10px 5px;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  -ms-border-radius: 1em;
  -khtml-border-radius: 1em;
  border-radius: 1em;
  background: white;
  padding: 0em 1em;
  margin: 2em auto;
}
/* line 54, ../sass/partial/_application.scss */
#app > header {
  margin: 2em 0em;
  -moz-transform: rotate(-1.5deg);
  -webkit-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}
/* line 57, ../sass/partial/_application.scss */
#app > header > h1 {
  display: inline;
  font-size: 3em;
  padding: 2em 0.75em 0.25em 0.75em;
  margin: -1em 0em 0em -0.75em;
  background-color: #0080ff;
  -moz-box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.125);
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.125);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}
/* line 65, ../sass/partial/_application.scss */
#app > header > h1 * {
  color: #fff;
}
/* line 68, ../sass/partial/_application.scss */
#app > header > h1:hover {
  background-color: #0080ff;
}
/* line 74, ../sass/partial/_application.scss */
#app > footer {
  padding-bottom: 1em;
  clear: both;
  margin: 3em 0em 3em 0em;
  border-top: 1px dotted #999999;
  font-size: 0.8em;
}
/* line 80, ../sass/partial/_application.scss */
#app > footer * {
  color: gray;
}

/* line 86, ../sass/partial/_application.scss */
#content {
  width: 580px;
  float: left;
  margin-right: 20px;
}

/* line 89, ../sass/partial/_application.scss */
#sidebar {
  width: 280px;
  float: left;
  margin-right: 20px;
  margin-right: 0;
  float: right;
}
/* line 92, ../sass/partial/_application.scss */
#sidebar section {
  display: block;
  margin: 0em 0em 1em 0em;
}

/* line 98, ../sass/partial/_application.scss */
q:before {
  content: open-quote;
}

/* line 99, ../sass/partial/_application.scss */
q:after {
  content: close-quote;
}

/* line 100, ../sass/partial/_application.scss */
*:lang(de) {
  quotes: "„" "“" "‚" "‘";
}

/* line 103, ../sass/partial/_application.scss */
*:lang(en) {
  quotes: "“" "”" "‘" "’";
}

/* line 106, ../sass/partial/_application.scss */
*:lang(fr) {
  quotes: "«" "»" "‹" "›";
}

/* line 109, ../sass/partial/_application.scss */
q {
  font-style: italic;
}

/* line 113, ../sass/partial/_application.scss */
blockquote {
  border-top: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
  background: #f2f2f2;
  padding: 0.5em 0.75em;
  color: #4d4d4d;
}
/* line 120, ../sass/partial/_application.scss */
blockquote > p {
  font-style: italic;
}
/* line 123, ../sass/partial/_application.scss */
blockquote > cite {
  text-align: right;
  display: block;
  color: #737373;
  padding-top: 0.5em;
}

/* line 131, ../sass/partial/_application.scss */
pre {
  display: inline;
}

/** Headline styles **/
/* line 136, ../sass/partial/_application.scss */
h1, h2, h3 {
  font-family: "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
  font-weight: bold;
}
/* line 139, ../sass/partial/_application.scss */
h1 a, h2 a, h3 a {
  text-decoration: none;
  color: #000;
}

/* line 144, ../sass/partial/_application.scss */
h1 {
  word-spacing: -0.05em;
  line-height: 1.125em;
  font-size: 2em;
  margin: 1em 0em 0.5em;
}

/* line 150, ../sass/partial/_application.scss */
h2 {
  line-height: 1.125em;
  font-size: 1.5em;
  margin: 1em 0em 0.5em;
}

/* line 155, ../sass/partial/_application.scss */
p {
  display: block;
  margin: 0.5em 0em 0.5em 0em;
}

/* line 160, ../sass/partial/_application.scss */
.gravatar {
  vertical-align: text-bottom;
  padding: 1px;
  border: 1px solid rgba(125, 125, 125, 0.3);
}

/* Notification Boxes */
/* line 167, ../sass/partial/_application.scss */
p.error, p.hint, p.success, #flashMessage {
  display: inline-block;
  padding: 0.5em 0.75em;
  margin: 1em 0.5em 1em 0em;
  border: 1px solid #000;
}

/* line 173, ../sass/partial/_application.scss */
p.error, #flashMessage.error {
  color: #A41910;
  border-color: #AA1A10;
  background-color: #FBF3F0;
}

/* line 178, ../sass/partial/_application.scss */
p.hint, #flashMessage.hint {
  border-color: #F8E995;
  background-color: #FAF8EE;
}

/* line 182, ../sass/partial/_application.scss */
p.success, #flashMessage.success {
  border-color: #b5f782;
  background-color: #dcffdc;
}
