/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 3, ../sass/partial/_pagination.scss */
ul.pagination {
  padding: 1em 0em;
}
/* line 5, ../sass/partial/_pagination.scss */
ul.pagination li {
  display: inline-block;
  vertical-align: middle;
}
/* line 8, ../sass/partial/_pagination.scss */
ul.pagination li.selected a {
  font-weight: bold;
  color: #cce6ff;
  background: #0080ff;
}
/* line 13, ../sass/partial/_pagination.scss */
ul.pagination li a {
  padding: 0.2em 0.4em;
  text-decoration: none;
  margin: 10px 1px 0px 0px;
  background: #cce6ff;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -o-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  border-radius: 0.5em;
}

/* line 1, ../sass/partial/_quoting.scss */
q:before {
  content: open-quote;
}

/* line 2, ../sass/partial/_quoting.scss */
q:after {
  content: close-quote;
}

/* line 3, ../sass/partial/_quoting.scss */
*:lang(de) {
  quotes: "„" "“" "‚" "‘";
}

/* line 6, ../sass/partial/_quoting.scss */
*:lang(en) {
  quotes: "“" "”" "‘" "’";
}

/* line 9, ../sass/partial/_quoting.scss */
*:lang(fr) {
  quotes: "«" "»" "‹" "›";
}

/* line 12, ../sass/partial/_quoting.scss */
q {
  font-style: italic;
}

/* line 16, ../sass/partial/_quoting.scss */
blockquote {
  font-size: 90%;
  border-top: 2px solid ligthen(#0080ff, 30);
  border-bottom: 2px solid ligthen(#0080ff, 30);
  margin: 0.5em 0em;
  padding: 0.3em 0.2em;
  color: white;
}
/* line 23, ../sass/partial/_quoting.scss */
blockquote > cite {
  text-align: right;
  display: block;
  color: white;
  padding-top: 0.5em;
}

/* line 12, ../sass/partial/_application.scss */
body {
  font: normal 16px/1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  color: white;
  background: #52667a;
}

/* line 18, ../sass/partial/_application.scss */
a {
  color: #0080ff;
}
/* line 18, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #0066cc;
}
/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: black;
}
/* line 20, ../sass/partial/_application.scss */
a:hover {
  color: black;
  background: #0080ff;
}
/* line 24, ../sass/partial/_application.scss */
a.more {
  font-weight: bold;
}
/* line 26, ../sass/partial/_application.scss */
a.more:after {
  content: ' »';
}
/* line 29, ../sass/partial/_application.scss */
a.more:hover {
  color: #000;
  background: #F4C527;
}

/* line 35, ../sass/partial/_application.scss */
::-moz-selection {
  color: black;
  background: #0080ff;
}

/* line 36, ../sass/partial/_application.scss */
::selection {
  color: black;
  background: #0080ff;
}

/* line 38, ../sass/partial/_application.scss */
#app {
  display: table;
  width: 1140px;
  margin: 0 auto;
  clear: both;
}

/* line 41, ../sass/partial/_application.scss */
#content {
  width: 640px;
  float: left;
  margin-right: 20px;
}
