@import "partial/typography";
@import "partial/quoting";
@import "partial/blogpost";
@import "partial/comment";
@import "partial/form";
@import "partial/pagination";

@import "partial/debug";

body {
	background: $background;
}

a {
	@include link-colors($link-color, $link-hover-color, $link-hover-color, darken($link-color, 10));
	&.more {
		font-weight: bold;
		&:after {
			content: '\00a0»';
		}
	}
	&[rel="tag"] {
		@include border-radius($default-border-radius / 2);
		text-decoration: none;
		padding: $default-border-radius / 4 $default-border-radius / 2;
		color: invert($button-text-color);
		background: lighten($button-base-color, 30);
		&:hover {
			color: $link-color;
			background: $link-hover-color;
		}
	}
}

.selected a, a.selected {
	background: $link-hover-color;
	color: $link-color;
}

#app {
	@include container();
	@include box-shadow(darken($background, 5) 0px 0px 10px 5px);
	@include border-radius();
	background: $app-background;
	padding: 0em 1em;
	margin: 2em auto;
	
	> header {
		margin: 2em 0em;
		@include rotate(-1.5deg);
		> h1 {
			display: inline;
			font-size: 3em;
			padding: 2em 0.75em 0.25em 0.75em;
			margin: -1em 0em 0em -0.75em;
			background-color: $link-color;
			@include box-shadow(rgba(0,0,0,0.125), 0.125em, 0.125em, 0.25em);
			text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
			* {
				color: #fff;
			}
			&:hover {
				background-color: $link-color;
			}
		}
	}

	> footer {
		padding-bottom: 1em;
		clear: both;
		margin: 3em 0em 3em 0em;
		border-top: 1px dotted lighten($text-color, 40);
		font-size: 0.8em;
		* {
			color: lighten($text-color, 30);
		}
	}
}

#content {
	@include column(12);
}
#sidebar {
	@include column(6, true);
	float: right;
	section {
		display: block;
		margin: 0em 0em 1em 0em;
	}
}

.gravatar {
	vertical-align: text-bottom;
	padding: 1px;
	border: 1px solid rgba(125,125,125,0.3);
}

/* Notification Boxes */
p.error, p.hint, p.success, #flashMessage {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 1em 0.5em 1em 0em;
	border: 1px solid #000;
}
p.error, #flashMessage.error {
	color: #A41910;
	border-color: #AA1A10;
	background-color: #FBF3F0;
}
p.hint, #flashMessage.hint {
	border-color: #F8E995;
	background-color: #FAF8EE;
}
p.success, #flashMessage.success {
	border-color: #b5f782;
	background-color: #dcffdc;
}