$debug-background-color: #191919 !default;
$debug-text-color: invert($debug-background-color) !default;
$debug-max-height: 400px;

#debug-dump {
	left: 0px;
	font: normal normal normal 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
	text-align: center;
	position: fixed;
	bottom: 0px;
	clear: both;
	margin: 0px auto;
	width: 100%;
	#{headings()} {
		margin: 0;
		padding: 0;
		display: block;
		clear: both;
		color: #fff;
	}
	a, & * {
		color: #C0C0C0;
	}
	a.toggle {
		outline: 0;
		border-top: 1px solid lighten($debug-background-color, 20);
		color: #fff;
		padding: 0.4em 0.7em 0.2em 0.7em;
		background-color: $debug-background-color;
		text-decoration: none;
		@include border-top-radius(0.5em);
		@include background($debug-background-color);
	}
	div.body {
		text-align: left;
		border-top: 4px solid $debug-background-color;
		font-size: 12px;
		background-color: $debug-background-color;
		text-align: left;
		display: none;
		padding: 0.5em 0.75em;
		max-height: $debug-max-height;
		overflow-y: scroll;
		dl {
			dt {
				float: left;
				font-weight: bold;
				width: 15%;
				margin-right: 0.25em;
				&:after {
					content: ':';
				}
			}
			dd {
				display: block;
				width: 80%;
				padding-left: 16%;
				vertical-align: top;
			}
		}
		li {
			display: inline;
		}
		> ul > li {
			display: inline-block;
		}
		> ul > li > ul > li {
			display: inline;
		}
		table {
			td {
				vertical-align: top;
			}
			thead tr th {
				
			}
			tbody tr td {
				
			}
		}
		table pre {
			margin: 0;
		}
		pre {
			color: #FFFDE0;
			white-space: pre-wrap;
			@include box-shadow(rgba(255, 255, 255, 0.1) 0 1px 0, rgba(0, 0, 0, 0.8) 0 1px 7px 0 inset);
			@include background(rgba(0,0,0,0.3));
			@include border-radius();
			padding: 0.3em 0.4em;
		}
	}
}