$font1: "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
$font2: "Droid Serif", $font1;

$textColor: #3C3C3C;
$background: #fff;

$appBackground: inherit;
$appWidth: 960px;

$linkColor: #0080FF;
$linkHoverColor: darken($linkColor, 20);
$buttonColor: $linkColor;

$gridColumns: 19 !default;
$gridColumnWidth: 30px !default;
$gridMargin: 20px !default;