$font1: "Droid Sans", "Lucida Grande", Lucida, Verdana, sans-serif;
$font2: "Droid Serif", $font1;

$base-color: #0080FF;

$background: darken(desaturate($base-color, 80), 10);

$app-background-color: #fff;
$app-background: $app-background-color;
$app-width: 960px;

$text-color: lighten(desaturate(invert($app-background-color), 90), 20);

$link-color: $base-color;
$link-hover-color: darken($link-color, 20);
$button-base-color: $link-color;

$grid-columns: 18 !default;
$grid-column-width: 30px !default;
$grid-margin: 20px !default;

$default-border-radius: 1em;