@CHARSET "UTF-8";

/**
 * @project Harrison Admin
 * @media	Screen
 * @author 	Marcel Eichner // Ephigenia <love@ephigenia.de>
 * @since 	2009-07-01
 */
body {
	font: normal 14px/1.5em Lucida Sans Unicode, Lucida Grande, Verdana, Arial, Sans Serif;
	background: #F8F8F8;
}

/** site wide styles **/
a {
	color: #0080FF;
}
a:active {
	position: relative;
	top: 1px;
}

/** quoting **/
body.en_EN q:before { content: '“' }
body.en_EN q:after { content: '”' }
body.de_DE q:before { content: '„' }
body.de_DE q:after { content: '“' }

h1, h2, h3 {
	font-weight: bold;
}
h1 {
	text-shadow: #eee 2px 2px 2px;
	margin: 0em 0em 0.2em 0em;
	font-size: 2em;
	line-height: 1.5em;
	border-bottom: 5px solid #000;
}
h1 a {
	color: #000000;
	text-decoration: none;
}
h2 {
	text-shadow: #eee 2px 2px 2px;
	font-size: 1.3em;
	line-height: 1.5em;
	border-bottom: 1px solid #333; 
	color: #333;
	margin: 1em 0em 0.5em 0em;
}

em {
	font-weight: bold;
}

dl.fl {
	padding-left: 0.5em;
}
dt {
	font-weight: bold;
	float: left;
	width: 120px;
}
dt:after {
	content: ':';
}
dd {
	padding-left: 120px;
}


#header {
	width: 100%;
	position: fixed;
	top: 0px;
	background: #000;
	line-height: 2.3em;
	height: 2.4em;
	box-shadow: 0px 3px 13px #B3B3B3;
	-moz-box-shadow: 0px 3px 13px #B3B3B3;
	-webkit-box-shadow: 0px 3px 13px #B3B3B3;
}
#header a, #header {
	color: #ffffff;
}
#header a.button {
	margin-left: 0.5em;
	margin-right: 0.5em;
}
#leftColumn {
	margin: 0em 0.5em 0em 0.5em;
	float: left;
	width: 160px;	
}
#content {
	background: #ffffff;
	padding: 0.5em;
	margin: 3em 0.5em 0em 175px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
}
#footer, #footer a {
	color: #afafaf;
}
#footer {
	font-size: 0.8em;
	clear: both;
	position: relative;
	top: 20px;
	width: 97%;
	display: table;
	line-height: 2.5em;
	border-top: 1px solid #999999;
	margin: 2em 1em;
}

/** Error, Hint, Flashmessages styles **/
p.error, p.hint, p.success, #flashMessage {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 1em 0.5em 1em 0em;
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
p.error, #flashMessage.error {
	color: #A41910;
	border-color: #AA1A10;
	background-color: #FBF3F0;
}
p.hint, #flashMessage.hint {
	border-color: #F8E995;
	background-color: #FAF8EE;
}
p.success, #flashMessage.success {
	border-color: #b5f782;
	background-color: #dcffdc;
}

/** pagination style **/
.pagination, .pagination li {
	margin: 0.5em 0em;
	display: inline-block;
}
.pagination li.active_page, .pagination li.active_page a {
	font-weight: bold;
	color: #000;
}
.pagination li a, .pagination {
	color: #6C6C6C;
}
.pagination li a {
	background-color: #D7D7D7;
	text-decoration: none;
	padding: 0.2em 0.4em 0.15em 0.4em;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
.pagination li a.current, .pagination li a:hover {
	background-color: #C0C0C0;
}

/** admin buttons **/
ul.admin li {
	display: inline-block;
	margin-bottom: 0.2em;
}
ul.admin li a, .button, form fieldset input.submit {
	color: #000 !important;
	font-size: 0.7em;
	text-decoration: none;
	text-align: center;
	line-height: 1.2em;
	padding: 0.4em 0.5em;
	margin: 0.1em 0.1em 0.1em 0em;
	background: #35527b;
	background: -webkit-gradient(linear, 0% 45%, 0% 100%, from(#ffffff), to(#E6E6E6));
	background: -moz-linear-gradient(19% 75% 270deg, #FFFFFF, #E6E6E6);
	border: 1px solid #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
ul.admin li a:hover, .button:hover, input.submit:hover {
	color: #000;
	border-color: #000;
	background: #fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#CFCFCF));
	background: -moz-linear-gradient(19% 75% 270deg, #FEFEFE, #CFCFCF);
}
/** delete buttons are red **/
ul.admin li a.delete {
	color: #fff !important;
	border-color: #800000;
	background: #B7190D;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B7190D), to(#800000));
	background: -moz-linear-gradient(19% 75% 270deg, #B7190D, #800000);
}
ul.admin li a.delete:hover {
	background: #FF8000;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F00), to(#800000));
	background: -moz-linear-gradient(19% 75% 270deg, #F00, #800000);
}

.Node ul.admin li {
	display: inline-block;
}


/** RSS Button **/
ul.admin a.rss, ul.admin a.rss:hover {
	background-image: url('../img/btns.png'); 
	background-position: 6px -142px;
	background-repeat: no-repeat;
	padding-left: 25px;
}

/** breadcrumb styles **/
ul.breadcrumb {
	line-height: 2.0em;
}
ul.breadcrumb li:first-child {
	background: none;
	padding-left: 0px;
}
ul.breadcrumb li {
	background: transparent url(../img/breadcrumb.png) no-repeat center left;
	display: inline-block;
	padding-left: 1em;
}


/** Buttons **/
div.mediaFile ul.admin {
	text-align: center;
	margin: 0px auto 0px auto;
}
.mediaFile ul.admin a {
	padding: 3px 10px;
	background-image: url('../img/btns.png');
	background-position: 5px 0px;
	background-repeat: no-repeat;
}
.mediaFile ul.admin a.delete {
	background: #f00 url('../img/btns.png') 5px -15px no-repeat;
}
.mediaFile ul.admin a.delete:hover {
	background-color: #f00;
	background-image: url('../img/btns.png');
	background-position: 5px -15px !important;
	background-repeat: no-repeat;
}
.mediaFile ul.admin a.edit:hover {
	background-image: url('../img/btns.png');
	background-position: 5px 0px;
	background-repeat: no-repeat;
}
.mediaFile ul.admin a.left, .mediaFile ul.admin a.left:hover {
	background-position: 5px -32px;
}
.mediaFile ul.admin a.topLeft, .mediaFile ul.admin a.topLeft:hover {
	background-position: 5px -48px;
}
.mediaFile ul.admin a.right, .mediaFile ul.admin a.right:hover {
	background-position: 5px -80px;
}
.mediaFile ul.admin a.topRight, .mediaFile ul.admin a.topRight:hover {
	background-position: 5px -64px;
}


/** jquery ui auto-complete **/
.ui-autocomplete {
	width: 175px;
}
.ui-menu {
	border: 1px solid #E6E6E6;
	background: #fff;
	padding: 0.2em;
}
.ui-menu-item {
	font-size: 0.8em;
	border-bottom: 1px solid #E6E6E6;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { background: #dddddd url(jquery-ui/vader/images/ui-bg_highlight-soft_60_dddddd_1x100.png) 50% 50% repeat-x; font-weight: normal; color: #000000; }
.ui-state-hover a, .ui-state-hover a:hover { background: #FEFDE1; }


/** gravatar image styles **/
.gravatar {
	vertical-align: text-bottom;
}


.tabs {
}

.tabList {
	border: 3px solid #666;
	padding: 1em;
}
.tabs ul {
	margin-bottom: 0.25em;
	margin-top: 1em;
}
.tabs ul li {
	display: inline;
}

.tabs ul li a {
	background: #B3B3B3;
	color: #666;
	text-decoration: none;
	padding: 4px 0.5em 5px 0.5em;
}
.tabs ul li a.selected, .tabs ul li a:hover {
	color: #ffffff;
	background: #666;
}