/**
 * Harrison Form Styles
 * 
 * @project Harrison Admin
 * @media	Screen
 * @theme	default
 * @author 	Marcel Eichner // Ephigenia <love@ephigenia.de>
 * @since 	2009-07-01
 */
form fieldset p {
	clear: both;
}
form fieldset label {
	width: 100%;
	float: left;
	margin: 0.2em 0px 0px 0.1em;
}
form fieldset label:after {
	content: ':';
}

form fieldset input[type=text],
form fieldset input[type=password] {
	height: 1.6em;
}
form fieldset input[type=text],
form fieldset input[type=password],
form fieldset select,
form fieldset textarea {
	width: 99.05%;
	font-size: 1.2em;
	line-height: 1.5em;
	border: 1px solid #cdcdcd;
	border-bottom-color: #E4E4E4;
	border-right-color: #E4E4E4;
	padding: 0px 3px 0px 3px;
	color: #464646;
	background: #fbfbfb;
	background: -webkit-gradient(linear, 0% 0%, 0% 15%, from(#F5F4F1), to(#FFFFFF));
	background: -moz-linear-gradient(270deg, #F5F4F1, #FFFFFF);
	clear: both;
}
form fieldset textarea {
	background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#F5F4F1), to(#FFFFFF));
	background: -moz-linear-gradient(270deg, #F5F4F1, #FFFFFF);
}
form fieldset input.error, form fieldset textarea.error {
	border-color: #AA1A10;
	background: -webkit-gradient(linear, 0% 0%, 0% 30%, from(#F0E7E7), to(#FFFFFF));
	background: -moz-linear-gradient(270deg, #F0E7E7, #FFFFFF);
}
form fieldset textarea:focus, form fieldset input:focus {
	background-color: #fffff1;
	border: 1px solid #E1CB53;
	-webkit-box-shadow: #ffffbb 0px 0px 10px;
	outline: none;
}

/** submit buttons **/
form fieldset input[type=submit] {
	border-width: 1px;
	padding: 0.8em 0.7em;
	margin: 1em 0em 0em 0em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
form fieldset input[type=submit]:hover {
	cursor: pointer;
}

p.checkbox input {
	float: left;
	margin: 10px 5px 0px 0px !important;
	padding-bottom: 0px;
	width: auto !important;
	height: auto !important;
	border: none;
}
p.checkbox label {
	display: inline;
	float: left !important;
	margin-top: 7px !important;
	margin-left: 5px;
	width: auto !important;
}


#AdminSearchForm {
	margin: 0em 0.5em 0em 0em;
	float: right;
	width: 200px;
}
#AdminSearchForm input.q {
	background-image: url('../img/magnifying-glass.png');
	background-repeat: no-repeat;
	background-position: center right;
}
#results {
	font-size: 0.8em;
	line-height: 1.3em;
	background: #fff;
	position:absolute;
	z-index: 1000;
	border: 1px solid #DFDFDF;
	overflow-y: auto;
	max-height: 300px;
}
#results li {
	display: block;
}
#results li a {
	margin: 0.4em;
	display: block;
	padding: 0.4em;
	border-bottom: 1px solid #CFCFCF;
}
#results li a:hover {
	background-color: #fffff1;
}
#results li img {
	float: left;
	width: 16px;
	height: 16px;
	margin: 0px 5px 0px 0px;
}