/** login page special styles **/
#app.login {
	margin: 100px 0px 0px 0px;
}
#app.login #content {	
	margin: 0 auto 0px auto;
	padding: 1em;
	width: 360px;
	text-align: left;
	-webkit-box-shadow: 0px 0px 30px #D6D6D6;
	-moz-box-shadow: 0px 0px 30px #D6D6D6;
	-khtml-box-shadow: 0px 0px 30px #D6D6D6;
	box-shadow: 0px 0px 30px #D6D6D6;
}
#app.login #flashMessage {
	margin-top: 0.75em;
}