/** login page special styles **/
#app.login {
	margin: 100px 10px 0px 10px;
}
#app.login #content {	
	margin: 0 auto 0px auto;
	padding: 1em;
	min-width: 280px;
	max-width: 400px;
	text-align: left;
	-webkit-box-shadow: 0em 0.5em 3em rgba(0,0,0,0.3);
	-moz-box-shadow: 0em 0.5em 3em rgba(0,0,0,0.3);
	-khtml-box-shadow: 0em 0.5em 3em rgba(0,0,0,0.3);
	box-shadow: 0em 0.5em 3em rgba(0,0,0,0.3);
}
#app.login #flashMessage {
	margin-top: 0.75em;
}