@CHARSET "UTF-8";

/**
 *	Styles for nms.update admin media files
 */
div.mediaFile {
	display: block;
	float: left;
	width: 170px;
	height: 250px;
	text-align: center;
	padding: 0px;
	margin: 0px 0.1em 1em 0px;
}
div.mediaFile .thumb {
	text-align: center;
	width: 170px;
	height: 130px;
}
.thumb img {
	border: 1px solid #E6E6E6;
	padding: 2px;
}
div.mediaFile .thumb .filetype {
	width: auto;
	height: 130px;
	line-height: 130px;
}
.mediaFile .thumb .filetype {
	color: #686868;
	font-size: 1.5em;
	width: 64px;
	text-align: center;
	line-height: 64px;
	height: 64px;
	display: block;
	background: url(../img/file_big.png) no-repeat center center;
}

.mediaFile .meta {
	font-size: 0.75em;
}

.Folders .Folder {
	background: transparent url(../img/folder.png) no-repeat center left;
	padding-left: 20px;
}