/**
 * Some additions to the default jQTouch Styles
 *
 * @project Harrison Admin Mobile Stylesheet
 * @media	Screen
 * @author 	Marcel Eichner // Ephigenia <love@ephigenia.de>
 * @since 	2009-07-01
 */

/** quoting like in the non-mobile version **/
body.en_EN q:before {
	content: '“'
}
body.en_EN q:after {
	content: '“'
}
body.de_DE q:before {
	content: '„'
}
body.de_DE q:after {
	content: '“'
}

/** error messages and stuff **/
div.error {
    color: #A41910;
	border-color: #AA1A10;
	background-color: #FBF3F0;
    font: bold 14px Helvetica;
    padding: 0.5em;
    margin: 15px 10px 17px 10px;
	-webkit-border-radius: 8px;
    -webkit-box-shadow: rgba(0,0,0,.3) 1px 1px 3px;
}
div.success {
	color: #209800;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c6d5c6), to(#a1b8a1), color-stop(.6,#c6d5c6));
}

dl dt {
	font-weight: bold;
	width: 100px;
	float: left;
}
dl dt:after {
	content: ':';
}

ul a .gravatar {
	border: 1px solid #333;
	padding: 1px;
	vertical-align: text-bottom;
}

ul.images li .thumb {
	
	margin: -12px -0px 00px -59px;
	position: absolute;
}
ul.images li {
	padding-left: 60px;
}

/** fullscreen image **/
#MediaFileedit .thumb {
	text-align: center;
	margin: auto;
}
#MediaFileedit .thumb img {
	width: 99.5%;
}

/** form button auto style **/
form input.submit {
	margin: 0 10px;
}