@import "../config";
@import "../mixins/css3";
@import "../mixins/transitions";
@import "../mixins/grid";

body {
	font: normal normal normal 14px/1.75em $font2;
	color: $textColor;
	background: $background;
}

a {
	color: $linkColor;
	&:hover {
		color: $linkHoverColor;
	}
	&.more {
		font-weight: bold;
		&:after {
			content: ' »';
		}
	}
	&[rel="tag"] {
		text-decoration: none;
		@include border-radius(0.25em);
		padding: 0.25em;
		color: #fff;
		background: lighten($buttonColor, 30);
		&:hover {
			background: $buttonColor;
		}
	}
}

#app {
	@include container();
	background: $appBackground;

	> header {
		margin: 2em 0em 4em 0em;
		@include rotate(-1.5deg);
		> h1 {
			display: inline;
			font-size: 3em;
			padding: 1em 0.75em 0.25em 0.75em;
			margin: -1em 0em 0em -0.5em;
			background-color: $linkColor;
			@include box-shadow(rgba(0,0,0,0.125), 0.125em, 0.125em, 0.25em);
			text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
			* {
				color: #fff;
			}
			&:hover {
				background-color: $linkHoverColor;
			}
		}
	}

	> footer {
		clear: both;
		margin: 3em 0em 2em 0em;
		border-top: 1px dotted lighten($textColor, 40);
		font-size: 0.8em;
		* {
			color: lighten($textColor, 30);
		}
	}
}

#content {
	@include column(12);
}
#sidebar {
	@include column(7, true);
	section {
		display: block;
		margin: 0em 0em 1em 0em;
	}
}

/** quoting **/
body q:before,
body.en_EN q:before,
body.en_EN blockquote p:before {
	content: '“'
}
body q:after,
body.en_EN q:after,
body.en_EN blockquote p:after {
	content: '“'
}
body.de_DE q:before,
body.de_DE blockquote p:before {
	content: '„'
}
body.de_DE q:after,
body.de_DE blockquote p:after {
	content: '“'
}
blockquote {
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	> p {
		font-style: italic;
	}
	> cite {
		text-align: right;
		display: block;
		color: #7F7F7F;
		padding-top: 0.5em;
	}
}

pre {
	display: inline;
}

/** Headline styles **/
h1, h2, h3 {
	font-family: $font1;
	font-weight: bold;
	a {
		text-decoration: none;
		color: #000;
	}
}
h1 {
	word-spacing: -0.05em;
	line-height: 1.125em;
	font-size: 2em;
}
h2 {
	line-height: 1.125em;
	font-size: 1.5em;
}

.gravatar {
	vertical-align: text-bottom;
	padding: 1px;
	border: 1px solid rgba(125,125,125,0.3);
	@include box-shadow(rgba(125,125,125,0.4), 0px, 2px, 3px, 0px);
}

/* Notification Boxes */
p.error, p.hint, p.success, #flashMessage {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 1em 0.5em 1em 0em;
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
p.error, #flashMessage.error {
	color: #A41910;
	border-color: #AA1A10;
	background-color: #FBF3F0;
}
p.hint, #flashMessage.hint {
	border-color: #F8E995;
	background-color: #FAF8EE;
}
p.success, #flashMessage.success {
	border-color: #b5f782;
	background-color: #dcffdc;
}

/* Pagination style **/
ul.pagination {
	padding: 1em 0em;
	li {
		display: inline;
		a {
			padding: 0.2em 0.4em;
			text-decoration: none;
			margin: 10px 1px 0px 0px;
			color: #3B3B3B;
			background-color: #C0C0C0;
			@include border-radius(0.5em);
		}
		&.current, &:hover {
			background-color: #878787;
			color: #000;
		}
	}
}