
article {
	display: block;
	margin: 0em 0em 2em 0em;
	> section {
		display: block;
		padding: 0.1em 0.3em;
		background-color: rgba(200, 200, 200, 0.1);
	}
	iframe {
		@include column(12);
		@include last();
		height: 275px;
	}
	> footer {
		display: block;
		border-top: 1px solid #C1C2C1;
		.tags li {
			font-size: 75%;
			display: inline;
		}
	}
}