@import "../mixins/css3";

$DebugConsoleTitleBarBaseColor: #000 !default;
$DebugConsoleBaseColor: #FEF5E1 !default;
$DebugConsoleTextColor: #3C3C3C !default;

#DebugConsole {
	&, * {
		font: normal normal normal 11px/1.5em "Lucida Grande", Lucida, Verdana, sans-serif;
		color: $DebugConsoleTextColor;
	}
	background: $DebugConsoleBaseColor;
	position: fixed;
	bottom: 0px;
	@include box-shadow(rgba(0,0,0,0.125), -5px, 0px, 10px);
	
	> header {
		padding: 0.25em 0.5em;
		color: lighten($DebugConsoleTitleBarBaseColor, 90);
		font-weight: bold;
		background: $DebugConsoleTitleBarBaseColor;
		cursor: pointer;
		&:hover {
			background: lighten($DebugConsoleTitleBarBaseColor, 10);
		}
	}
	
	.body {
		display: none;
		padding: 1em;
		overflow-y: scroll;
		max-height: 320px;
	}
	
	dl {
		dd {
			font-weight: bold;
			display: inline-block;
			float: left;
			width: 120px;
			&:after {
				content: ":";
			}
		}
	}
	
	table {
		width: 100%;
		$borderColor1: darken($DebugConsoleBaseColor, 40);
		$borderColor2: lighten($borderColor1, 30);
		th, td {
			padding: 0.125em;
		}
		td:last-child, th:last-child {
			text-align: right
		}
		thead tr th {
			font-weight: bold;
			border-bottom: 1px solid $borderColor1;
		}
		tbody tr td {
			border-bottom: 1px solid $borderColor2;
		}
		tbody tr:nth-of-type(odd) {
			background-color: darken($DebugConsoleBaseColor, 5);
		}
		tfoot tr td {
			border-top: 1px solid $borderColor1;
			font-weight: bold;
		}
	}
}