/**
 * Example Application Theme
 * @since  2010-05-30
 * @author Marcel Eichner // Ephigenia <love@ephigenia.de>
 * @theme  default
 */
body {
	font: normal 14px/1.5em Lucida Sans Unicode, Lucida Grande, Verdana, Arial, Sans Serif;
	background: #F8F8F8;
	color: #4C4C4C;
	width: 960px;
}

strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
a {
	color: #0080FF;
}

/** quoting **/
body q:before,
body.en_EN q:before,
body.en_EN blockquote p:before {
	content: '“'
}
body q:after,
body.en_EN q:after,
body.en_EN blockquote p:after {
	content: '“'
}
body.de_DE q:before,
body.de_DE blockquote p:before {
	content: '„'
}
body.de_DE q:after,
body.de_DE blockquote p:after {
	content: '“'
}
blockquote {
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
}
blockquote > p {
	font-style: italic;
}
blockquote > cite {
	text-align: right;
	display: block;
	color: #7F7F7F;
	padding-top: 0.5em;
}

/** Headline styles **/
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: #000;
}
h1 {
	font-size: 2.5em;
	line-height: 1.3em;
	margin: 0.5em 0em 0.5em 0em;
	border-bottom: 5px solid #323232;
	text-shadow: #eee 2px 2px 2px;
}
h2 {
	font-size: 1.35em;
	line-height: 1.15em;
}
h3 {
	font-size: 1em;
	line-height: 1.5em;
}
h4 {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5em;
}

/* Notification Boxes */
p.error, p.hint, p.success, #flashMessage {
	display: inline-block;
	padding: 0.5em 0.75em;
	margin: 1em 0.5em 1em 0em;
	border: 1px solid #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
}
p.error, #flashMessage.error {
	color: #A41910;
	border-color: #AA1A10;
	background-color: #FBF3F0;
}
p.hint, #flashMessage.hint {
	border-color: #F8E995;
	background-color: #FAF8EE;
}
p.success, #flashMessage.success {
	border-color: #b5f782;
	background-color: #dcffdc;
}


#app {
	padding: 20px;
	width: 620px;
	margin: 0em auto;
	background: #fff;
}

/* Pagination style **/
ul.pagination {
	font-size: 0.8em;
	padding: 10px 0px 10px 0px;
}
ul.pagination li {
	display: inline;
	margin: 10px 1px 0px 0px;
}
ul.pagination li a {
	padding: 2px 4px;
	border: 2px solid #000;
	text-decoration: none;
}
ul.pagination li a:hover {
	border: 2px solid #000;
}
ul.pagination a.current {
	border: 2px solid #00F;
	background-color: #AFDEFD;
}