@CHARSET "UTF-8";

form {
	margin: 1em 0px 1em 0px;
}
form fieldset p {
	clear: both;
}
form fieldset label {
	margin: 0.5em 0em 0em 0em;
	width: 100%;
	float: left;
}

form fieldset input, form fieldset textarea {
	outline: none;
	color: #B2B2B2;
	padding: 5px 0em 5px 5px;
	border: 1px solid #333;
	font-size: 0.8em;
	width: 98%;
	background: #000;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-khtml-border-radius: 2px;
}
form fieldset textarea.error, form fieldset input.error {
	border: 1px solid #BC3225;
	-webkit-box-shadow: #ff0000 0px 0px 8px;
	-moz-box-shadow: 0px 0px 8px #ff0000;
	-khtml-box-shadow: 0px 0px 8px #ff0000;
}
form fieldset input:hover, form fieldset input:active, form fieldset input.active,
form fieldset textarea:hover, form fieldset textarea:active, form fieldset textarea.active {
	color: #F9E491;
	border: 1px solid #E2B724;
	-webkit-box-shadow: #85441E 0px 0px 15px;
	-moz-box-shadow: 0px 0px 15px #85441E;
	-khtml-box-shadow: 0px 0px 15px #85441E;
}
form fieldset input.submit {
	margin-top: 10px;
	color: #fff;
	font-weight: bold;
	padding: 0em 1em;
	line-height: 2.7em;
	height: 2.7em;
	text-align: center;
	text-shadow:1px 1px 4px #333333;
	background: #161616;
	background: -webkit-gradient(linear, 0% 50%, 0% 100%, from(#161616), to(#000));
	background: -moz-linear-gradient(50% 100% 270deg, #161616, #000);
}
form fieldset input.submit:hover {
	cursor: pointer;
	background: #896320;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4C527), to(#DC8E1E));
	background: -moz-linear-gradient(0% 100% 270deg, #F4C527, #DC8E1E);
	text-shadow:0px 0px 2px #804000;
}
