$font1: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
$font2: $font1;

$base-color: #F4C527;

$app-background-color: #000;
$app-background: $app-background-color;
$app-width: 960px;

$text-color: #fff;

$link-color: $base-color;
$link-hover-color: #000;
$link-hover-background-color: $link-color;
$button-base-color: $link-color;

$grid-columns: 38 !default;
$grid-column-width: 10px !default;
$grid-margin: 20px !default;

$default-border-radius: 1em;