ul.pagination {
	font-size: 80%;
	margin: 1em 0px;
	li {
		display: inline;
		a {
			background-color: #000;
			padding: 2px 4px;
			border: 2px solid darken($link-color, 40);
			text-decoration: none;
			&:hover {
				border: 2px solid $link-color;
			}
		}
		&.selected a {
			border: 2px solid $link-color;
			background-color: $link-color;
			color: #000;
		}
	}
}